.home-page {
  font-family: "Inter", sans-serif;
  padding-top: 90px; /* navbar */
  background: #f5f6f7;
}


.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 60px auto;
}

.feature-card {
  flex: 1 1 250px;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.feature-card img {
  width: 80px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 1.3rem;
  color: #006aff;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .hero-title { font-size: 2rem; }
  .search-form input { flex: 1 1 100%; }
  .features { flex-direction: column; align-items: center; }
}
